# Pré processamento dos dados
Utilizando o Dataset: Groceries_Dataset

In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('../data/raw/Groceries_dataset.csv')

df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

### Criando DataFrame no formato para análise

In [9]:
market_basket = df.groupby('Member_number')['itemDescription'].apply(list)
market_basket = pd.DataFrame(market_basket).reset_index()
market_basket.head()

   Member_number                                    itemDescription
0           1000  [soda, canned beer, sausage, sausage, whole mi...
1           1001  [frankfurter, frankfurter, beef, sausage, whol...
2           1002  [tropical fruit, butter milk, butter, frozen v...
3           1003  [sausage, root vegetables, rolls/buns, deterge...
4           1004  [other vegetables, pip fruit, root vegetables,...